<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Bienvenido SmartFan</h1>
      <div class="row center">
        <h5 class="header col s12 light">Demuestra que eres el Fan No. 1 de tu Artista Favorito</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Regístrate</a>
      </div>
      <br><br>

    </div>
  </div>

</div>

  <div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Artistas</h5>

          <p class="light">Acá puedes encontrar a tu artista favorito, empezar a seguirlo y agregar a quienes no encuentres.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">Misiones</h5>

          <p class="light">Encuentra el avance de la misión de cada artista.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Fan</h5>

          <p class="light">Sabemos que quieres conocer a tus artistas favoritos,por lo cual queremos que demuestres cuán fan eres y puedas llevarte increíbles premios de parte de ellos.</p>
        </div>
      </div>
    </div>

  </div>
</div>